<div class="outer_container">

  <div class="big_container">
    <div class="top_bar">
      <div class="notice">Buscar Vuelos 
        <div class="sub-text" *ngIf="loading">CARGANDO VUELOS, ¡ESPERE POR FAVOR!</div>
      </div>
    </div>
    <div class="transparent_bg">
      <div class="container">
        <div class="search_pane"> 
          <div class="search_box">
            <form class="actions">
              <label>Buscar vuelo </label>
              <input style="text-transform:uppercase;" type="text" class=" form-control" placeholder="Origen..." name="filterOrigin" [(ngModel)]="filterOrigin">&nbsp;
              <input style="text-transform:uppercase;" type="text" class=" form-control" placeholder="Destino..." name="filterdestination" [(ngModel)]="filterdestination">
          </form>
          </div>
        </div>
        <div class="flight_pane">  
          <div class="flight_headers">
            <div class="flight_number cell"> VUELO # </div>
            <div class="airlines cell"> AEROLINEA </div>
            <div class="origins cell"> ORIGEN </div>
            <div class="destinations cell"> DESTINO </div>
            <div class="departs cell"> SALIDA </div>
            <div class="arrives cell"> LLEGADA </div>
          </div>
          <br>
          <div *ngIf="noFlightsFound">
            -- NO SE ENCONTRARON VUELOS -- 
          </div>
          
          <div *ngFor="let flight of flights | origin:filterOrigin | destination:filterdestination" class="flight_results">
            <div class="flight_number cell"> {{flight.flightNumber}}</div>
            <div class="airline cell"> {{flight.airline}}</div>
            <div class="origins cell"> {{flight.origin}}</div>
            <div class="destinations cell"> {{flight.destination}}</div>
            <div class="departs cell"> {{flight.depart | date : 'dd/MM/yyyy' }}</div>
            <div class="arrives cell"> {{flight.arrive | date : 'dd/MM/yyyy' }}</div>
          </div>
          <div>
          </div>
          
        </div>
      </div>
    </div>
  </div>
  </div>


